@use 'base/variables' as *;
@use 'base/mixins' as *;

/* Header styles */

.header {
    background-color: $green;
    
    @include phone { // include for mixins
        color: $white;
        width: 1rem;
        height: 0.1rem;
    }
    

    .header-content {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: $white;
        margin: 0;
    }
}

.main-navigation {
    display: flex;
    gap: 2rem;
    a {
        color: $white;
        font-size: 2.4rem;

        &:hover{
            color: $yellow;
        }
    }
}

